<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <!-- Bootstrap JavaScript -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
      <!-- Bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Animate.css -->
    {{!-- <link rel="stylesheet" href="../../public/assets/css/animate.css"> --}}
      <!-- Font Awesome CDN-->
    <script src="https://use.fontawesome.com/c38831e163.js"></script>
      <!-- Font Awesome Local (copy entire FA directory into project) -->
    {{!-- <link rel="stylesheet" href="../../public/assets/css/fontawesome/css/font-awesome.min.css"> --}}
      <!-- Local CSS link -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    
    
    
    <div class="container">
      <div class="jumbotron">
      <div class="container text-center">
        <img src="/assets/images/burger.png" alt="burger picture" id="burgerImage">
        <h2>Eat-Da-burger!</h2>
      </div>
    </div>
      {{{body}}}
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 text-center clearfix mainForm">
        <form action="/nod" method="POST" role="form">
        <div>
           <textarea name="burger_name" id="" cols="30" rows="5"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div> 
          
        </form>
      </div>

    </div>
  </body>
</html>